:host {
  flex: 1;
  min-width: 1px;
  height: 100%;
  display: block;
}

.bar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.bar {
  position: absolute;
  left: 0px;
  right: 0px;
  min-height: 1px;
  background: rgba(108, 99, 212, 0.85);
  transition: background 0.05s;
  will-change: height, bottom;

  &.state-compare { background: #1D9E75; }
  &.state-swap    { background: #D85A30; }
  &.state-pivot   { background: #BA7517; }
  &.state-sorted  { background: #e8ff00; }
}